/* p{
    width: max-content;
}
figcaption{
    width: 500px;
    height: 500px;
    background-color: rgba(127, 255, 212, 0.42);
    z-index: 1000;
}
figure{
    width: max-content;
    background-color: rgb(44, 0, 0);
} */
